<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body class="grey-bg">
    <%- include('nav.ejs')%>
    <form action="/write" method="post">
      <button class="post__add">새 게시물 작성</button>
    </form>
    <div class="white-bg">
      <% posts.forEach(post => { %>
      <div class="list-box">
        <a href="/detail/<%= post._id %>">
          <h4><%= post.title %></h4>
        </a>
        <p><%= post.content %></p>
      </div>
      <% }); %>
    </div>

    <div class="pagination">
      <% for(let i = 1; i <= postCount; i++) {%> <% if(i == currentPage){%>
      <a href="/list/<%= i%>" class="currentpage"><%= i%></a>
      <%} else{%>
      <a href="/list/<%= i%>"><%= i%></a>

      <%}%> <% }%>
    </div>
  </body>

  <script>
    window.onload = () => {
      // 서버에서 전달받은 메시지를 alert으로 표시
      let messageFromServer = '<%= messageFromServer %>';
      if (!messageFromServer) {
        alert('로그인이 필요합니다 로그인 하시겠습니까?');
      }
    };
  </script>
</html>
